.bg-home {
  background-image: url("../../assets/img/bg-home.webp");
  background-size: cover;
  height: 763px;
  width: auto;

  background-position: center;
  padding: 0;
}

.furniture-text {
  position: relative;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #1a1a1a;

  font-size: 56px;
  line-height: 67px;

  top: 73px;
}

.wrapper-description {
  position: relative;
  margin: auto;
  width: 60%;

  top: 103px;
}

.description-text {
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;

  text-align: center;

  color: #4d4d4d;
}

.explore-text {
  position: relative;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  text-align: center;

  color: #4d4d4d;

  top: 133px;
}

.arrow-down {
  position: relative;
  text-align: center;
  top: 133px;

  cursor: pointer;
}

.product-text {
  position: relative;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  /* font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px; */

  color: #1a1a1a;
  top: 8px;
  /* top: calc(50% - 128px/2 - 123px); */
}

.product-description-text {
  position: relative;
  font-family: Arimo;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  /* font-size: 16px;
  line-height: 37px; */
  /* or 231% */

  color: #4d4d4d;
  bottom: 8px;
}

.line {
  position: absolute;
  /* Width 
119px
Height 
2px */
  height: 2px;
  width: 19px;
  background-color: #1a1a1a;
}

.wrapper-line {
  position: relative;
  bottom: 15px;
  /* bottom: 1px; */
}

.shop-now-text {
  position: relative;
  font-family: Arimo;
  font-style: normal;
  font-weight: bold;
  /* font-size: 16px; */
  font-size: 8px;
  line-height: 18px;
  text-transform: uppercase;

  color: #1a1a1a;
  bottom: 7px;
}

/* tablet */
@media (min-width: 768px) {
  .furniture-text {
    font-size: 76px;
    line-height: 87px;
    top: calc(50% - 87px / 2 - 139.5px);
  }
  .wrapper-description {
    top: 218px;
  }
  .description-text {
    font-size: 16px;
    line-height: 37px;
  }
  .explore-text {
    top: 263px;
  }
  .arrow-down {
    top: 257px;
  }
  .product-png {
    /* height: 112px; */
    object-fit: contain;
    height: 123px;
    /* width: 12pc; */
  }
  .product-text {
    position: relative;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 2px;
    top: 8px;
  }
  .product-description-text {
    font-size: 16px;
    line-height: 37px;
    top: 8px;
  }
  .line {
    width: 39px;
  }
  .wrapper-line {
    top: 30px;
  }
  .shop-now-text {
    left: 12px;
    font-size: 16px;
  }
}
/* {<div style={{ position: 'absolute', width: '100%', marginBlock: '-40px' }}>} */

.footer {
  position: absolute;
  width: 100%;
  margin-block: -38px;
}

@media (min-width: 375px) {
  .footer {
    margin-block: -5px;
  }
}

/* laptop S */
@media (min-width: 1024px) {
  .explore-text {
    top: calc(50% - 21px / 2 - 18px);
  }
  .arrow-down {
    top: 357px;
  }
  .product-text {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 2px;
    top: calc(50% - 128px / 2 - 123px);
  }
  .product-description-text {
    top: 15%;
  }
  .wrapper-line {
    top: 113px;
  }
}

/* laptop M */
@media (min-width: 1280px) {
  .product-description-text {
    top: 183px;
  }
  .wrapper-line {
    top: 283px;
  }
  .product-img {
    /* position: relative; */
    margin-left: 52px;
  }
}

/* laptop L */
@media (min-width: 1440px) {
  .product-description-text {
    top: 29%;
  }
  .line {
    height: 2px;
    width: 119px;
  }
  .shop-now-text {
    position: absolute;
    left: 82px;
    bottom: -25px;
  }
  .wrapper-line {
    top: 310px;
  }
  .product-img{
    display: flex;
    justify-content: end;
  }
}
