.bg-home{
  background-image: url('../../assets/img/bg-home.webp');
  background-size: cover;
  height: 763px;
  width: auto;

  background-position: center;
  padding: 0;
}

.furniture-text{
  position: relative;
  font-family: 'Arimo';
  font-style: 'normal';
  font-weight: 'normal';
  font-size: '76px';
  line-height: '87px';
  text-align: 'center';
  color: #1a1a1a;
  top: calc(50% - 87px/2 - 139.5px);
}

.text{
width: 523px;
background-color: aquamarine;
/* color: aqua !important; */
/* color: ; */
}